.articleContainer {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.articleContainer__header {
    padding: 10px;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
}

.article__title > h3 {
    margin: 0 0 5px 0;
    color: #373737;
    font-weight: bold;
    font-size: 20px;
}

.article__addNew {
    margin-left: 20px;
}

.articleLog {
    margin: 10px;
    align-items: left;
    flex-wrap: wrap;
}
.articleOutput {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: left;
    flex-wrap: wrap;
}

.articleInput {
    padding: 10px 0px 0px 0px;
    width: 100%;
    height: 210px;
    margin: 0 15px 15px 0;
    flex: 0 0 30%
}

.articleFieldLabel {
    margin-top: 5px;
    font-size: 16px;
    
}

.articleField > textarea {
    width: 96%;
    margin-top: 0px;
    margin-bottom: 5px;
    height: 55px;
}

.addArticle {
    text-align: right;
    padding-right: 20px;
}

.articleField {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.userArticle {
    background-color: silver;
    box-shadow: 2px 2px 4px #302e2ece;
    padding: 5px;
    width: 30%;
    height: 250px;
    margin: 0 15px 15px 0;
    flex: 0 0 30%
}

.nameDate {
    display: flex;
    flex-direction: column;
}

.friendArticle {
    background-color: cornsilk;
    box-shadow: 2px 2px 4px #302e2ece;
    padding: 5px;
    width: 30%;
    height: 250px;
    margin: 0 15px 15px 0;
    flex: 0 0 30%
}

.article__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px
}

.article__user {
    font-size: 18px;
    color: #42234d;
    font-weight: bold;
    padding-top: 5px;
}

.article__date {
    font-size: 12px;
    font-style: italic;
    padding-top: 0;
    padding-right: 10px;
}

.article__delete {
    color: red;
    font-weight: bold;
    padding-top: 5px;
}

.articleTitle > h3 {
    padding-left: 10px;
    margin: 10px 5px 3px 0;
    color: Black;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.3em;
}
.articleTitle > h3 > a {
    color: Black;
    text-decoration: none;
    font-size: 14px;
}

.articleTitle > h3 > a:hover {
    color: #a86628;
    text-decoration: none;
    font-size: 14px;
}

.article__description {
    font-size: 14px;
    padding-left: 10px;
}

.articleValue1,
.articleValue2 {
    width: 50%;
}