.articleContainer {
    /* border: black solid 1px; */
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.articleContainer__header {
    padding: 10px;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
}

.article__title > h3 {
    margin: 0 0 5px 0;
    color: #373737;
    font-weight: bold;
}

.article__addNew {
    margin-left: 20px;
}

.articleLog {
    background-color: whitesmoke;
    margin: 10px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: left;
    flex-wrap: wrap;
}
.articleOutput {
    background-color: whitesmoke;
    margin: 10px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: left;
    flex-wrap: wrap;
}

.articleInput {
    background-color: silver;
    box-shadow: 2px 2px 4px #302e2ece;
    padding: 10px 0px 0px 10px;
    width: 30%;
    height: 210px;
    margin: 0 15px 15px 0;
    flex: 0 0 30%
}

.articleFieldLabel {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}

.articleField > textarea {
    width: 90%;
    margin-top: 0px;
    margin-bottom: 5px;
    height: 55px;
}

.addArticle {
    text-align: right;
    padding-right: 10px;
}

.articleField {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.singleArticle {
    background-color: silver;
    box-shadow: 2px 2px 4px #302e2ece;
    padding: 5px;
    width: 30%;
    height: 210px;
    margin: 0 15px 15px 0;
    flex: 0 0 30%
}

.article__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px
}

.article__user {
    font-size: 12px;
    color: grey;
    font-weight: bold;
    padding-top: 5px;
}

.article__date {
    font-size: 12px;
    font-style: italic;
    padding-top: 5px;
}

.article__delete {
    color: red;
    font-weight: bold;
}

.articleTitle > h3 {
    padding-left: 10px;
    margin: 20px 0 3px 0;
}

.articleTitle > h3 > a {
    color: Black;
    text-decoration: underline;
    font-size: 14px;
}

.article__description {
    font-size: 14px;
}