.eventsContainer {
    display: flex;
    flex-direction: column;
    background-color: #373737;
    margin: 20px;
    box-shadow: 2px 2px 4px #302e2ece;
}

.eventsContainer__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px
}

.eventsHeader__title > h3 {
    margin: 0;
    color: whitesmoke;
}

.createEvent {
    margin: 10px;
    padding: 5px;
}

.eventFieldLabel {
    color: whitesmoke;
}

.addEvent {
    text-align: right;
    padding-top: 10px;
}

.singleEvent {
    background-color: whitesmoke;
    margin: 10px;
    
}

.event__header {
    text-align: right;
    font-weight: bold;

}

.event__name {
    background-color: #42234d;
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.event__name > h4 {
    color: whitesmoke;
    margin: 0;
    font-size: 20px;
}

.event__details > dl {
    padding: 0px 5px 20px 5px;
}

.event__details > dl > dt:first-child {
    font-size: 16px;
    font-weight: bold;
    padding: 0px 0 0px 10px;
    margin: 0;
}

.event__details > dl > dt {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0 0px 10px;
    margin: 0;
}

.event__details > dl > dd {
    padding-top: 0px;
    font-size: 14px;
}