@import "banner.css";
@import "sidebar.css";
@import "articles.css";
@import "events.css";
@import "friends.css";
@import "messages.css";
@import "buttons.css";



body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f0f0;
}

#contentContainer {
    display: flex;
    flex-direction: row;
}

.contentContainer__left {
    /* border: 1px solid blue; */
    width: 18%;
    margin: 10px 20px 0 5px;
}

.contentContainer__middle {
    border: 1px solid red;
    width: 60%;
    margin: 10px 20px 0 0;
    padding: 10px 20px
}

.contentContainer__right {
    border: 1px solid green;
    width: 22%;
}